@import "tailwindcss";

@theme {
  --color-primary: #18181b;
  --color-secondary: #71717a;
  --color-dark: #000000;

  --color-slate-50: #fafafa;
  --color-slate-100: #f4f4f5;
  --color-slate-200: #e4e4e7;
  --color-slate-300: #d4d4d8;
  --color-slate-400: #a1a1aa;
  --color-slate-500: #71717a;
  --color-slate-600: #52525b;
  --color-slate-700: #3f3f46;
  --color-slate-800: #18181b;
  --color-slate-900: #09090b;
  --color-slate-950: #000000;
}
